<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kvj.sierra5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/Theme.ActionBar" >
        <service
            android:exported="true"
            android:name=".data.ControllerService" >
        </service>

        <activity
            android:label="File Dialog"
            android:name="com.lamerman.FileDialog" >
        </activity>
        <activity
            android:label="Configuration"
            android:name=".ui.ConfigurationView" >
        </activity>
        <activity
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:name=".ui.Sierra5ListView" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>