<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kvj.sierra5.plugins"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".App" >
        <service android:name=".service.UIService" />
        <service
            android:exported="true"
            android:name=".service.LinkPluginService" >
            <intent-filter >
                <action android:name="org.kvj.sierra5.PLUGIN" />

                <category android:name="org.kvj.sierra5.plugin.LINK" />
            </intent-filter>
        </service>
        <service
            android:exported="true"
            android:name=".service.WidgetPluginService" >
            <intent-filter >
                <action android:name="org.kvj.sierra5.PLUGIN" />

                <category android:name="org.kvj.sierra5.plugin.WIDGET" />
            </intent-filter>
        </service>

        <activity
            android:icon="@drawable/file"
            android:label="Sierra5 link"
            android:name=".ui.NewBookmarkView" >
            <intent-filter >
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Configuration"
            android:name=".ui.PluginsConfiguration" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="Widgets"
            android:name=".ui.widget.WidgetConfigListPane" />
        <activity
            android:exported="true"
            android:configChanges="keyboardHidden|orientation"
            android:label="Show widget config"
            android:name=".ui.widget.show.ShowWidgetConfigPane" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:label="Sierra5 node"
            android:name=".ui.widget.show.ShowWidgetController" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/show_widget" />
        </receiver>
    </application>

</manifest>