<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kvj.sierra5.plugins"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:name=".App"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <service android:name=".service.UIService" />
        <service
            android:name=".impl.link.LinkPluginService"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.kvj.sierra5.PLUGIN" />

                <category android:name="org.kvj.sierra5.plugin.LINK" />
            </intent-filter>
        </service>
        <service
            android:name=".impl.quebec.Q4PluginService"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.kvj.sierra5.PLUGIN" />

                <category android:name="org.kvj.sierra5.plugin.QUEBEC" />
            </intent-filter>
            <meta-data android:name="api" android:value="8"/>
        </service>
        <service
            android:name=".impl.check.CheckboxPluginService"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.kvj.sierra5.PLUGIN" />

                <category android:name="org.kvj.sierra5.plugin.CHECKBOX" />
            </intent-filter>
        </service>
        <activity
            android:name=".ui.NewBookmarkView"
            android:icon="@drawable/file"
            android:label="Sierra5 link" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PluginsConfiguration"
            android:label="Sierra5 plugins" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.widget.WidgetConfigListPane"
            android:configChanges="keyboardHidden|orientation"
            android:label="Widgets" />
        <activity
            android:name=".ui.widget.NodeSelectPane"
            android:configChanges="keyboardHidden|orientation"
            android:label="Select node" />
        <activity
            android:name=".ui.widget.show.ShowWidgetConfigPane"
            android:configChanges="keyboardHidden|orientation"
            android:label="Show widget config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.widget.show.ShowWidgetController"
            android:label="Sierra5 node" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/show_widget_info" />
        </receiver>
        <receiver android:name="org.kvj.bravo7.widget.WidgetUpdateReceiver" >
            <intent-filter>
                <action android:name="org.kvj.sierra5.plugins.UPDATE_WIDGET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".providers.auth.AuthService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".providers.contact.ContactSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/contactsync" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>
    </application>

</manifest>